*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 1rem;
    background-color: #b0feff;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 4);
    font-size: 9vmin;
    color: rgb(255, 196, 107);
    background-color: #ffffc7;
}

.o-color{
    color: rgb(208, 90, 31);
    font-weight: bold;
}

.x-color{
    color: rgb(164, 1, 129);
    font-weight: bold;
}

#rst , #newbtn{
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: rgb(236, 42, 42);
    color: rgb(16, 18, 16);
    border-radius: 5rem;
    box-shadow:0 0 0.8rem rgba(0, 0, 0, 2);
}

#msg{
    color: #13151e;
    font-size: 8vmin;
}

.msg-container{
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}